
<div class = 'footer'>
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

 
  <div class="container text-center text-md-left">

    <div class="row">

      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        {% comment %} <h5 class="font-weight-bold text-uppercase mb-4">Team members</h5> {% endcomment %}

        <ul>
          <li>
            <p>
              <i class="fa fa-building" aria-hidden="true"></i> CED18I022 Haldhar Dwivedi</p>
          </li>
          <li>
            <p>
              <i class="fa fa-building" aria-hidden="true"></i> CED18I064 T Karthikeyan</p>
          </li>
          <li>
            <p>
              <i class="fa fa-building" aria-hidden="true"></i> CED18I065 Animesh Kumar</p>
          </li>
          
          
        </ul>

      </div>
     

      <hr class="clearfix w-100 d-md-none">

    
    </div>
   

  </div>
 

    
  <div class="footer-copyright text-center py-3">© 2021 <b>Handwriting Recogniser</b>
  </div>
  

</footer>
</div>