
<div class = 'footer'>
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

 
  <div class="container text-center text-md-left">

    <div class="row">

      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

     
        <h5 class="font-weight-bold text-uppercase mb-4">NETCART</h5>
        <p>Find Exciting deals on every sunday...</p>
        <p>Your one stop destination for all your shopping needs.Special offers,featured products and many amazing deals.Sign up today...</p>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

      </div>
  

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-building" aria-hidden="true"></i> Arjuna Complex..Near Ashwatha Nagar,KANCHEEPURAM</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i> info@netcart.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i> 9898989898 
            </p>
          </li>
          
        </ul>

      </div>
     

      <hr class="clearfix w-100 d-md-none">

    
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

       
        <a type="button" class = 'footerlink' target=”_blank" href="https://www.instagram.com/tv/B4JlXDXgpQf/?igshid=1x0q3oww94ulb" class="btn-floating btn-fb">
          <i class="fa fa-facebook" style="font-size: 40px" ></i>
        </a>
     
        <a type="button" class = 'footerlink' href="https://twitter.com/vamsirajan" target=”_blank" class="btn-floating btn-tw">
          <i class="fa fa-twitter" style="font-size: 40px"></i>
        </a>
        
        <a type="button" class = 'footerlink' href="https://www.instagram.com/tv/B4JlXDXgpQf/?igshid=1x0q3oww94ulb" target=”_blank" class="btn-floating btn-instagram">
          <i class="fa fa-instagram" style="font-size: 40px"></i>
        </a>

      </div>
   

    </div>
   

  </div>
 

    
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class='footerlink'  href="http://netcart.pythonanywhere.com"><b><i> NETCART</i></b></a>
  </div>
  

</footer>
</div>