{% extends 'base.html' %}

{% block content %}
    <form name = "form" enctype = "multipart/form-data" 
         action = "{% url "image:upload_image" %}" method = "POST" >{% csrf_token %}
         <div style = "max-width:470px;align:center">
            <center> 
               <input type = "file" style = "margin-left:20%;" class="btn btn-primary"
                  placeholder = "Picture" name = "file" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center> 
            
               <button class='btn btn-danger' type = "submit" value = "Upload" >
                  <strong>Process</strong>
               </button>
               
            </center>
         </div>
         
      </form>

{% endblock content %}